/* CUSTOM PROPERTIES */
:root {
  --darkblue: #2c3e50;
  --blue: #3a546d;
  --green: #1abc9c;
  --darkgrey: #333333;
  --grey: #7e7f82;
}

/* GENERAL PROPERTIES */
body {
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container-g {
  width: 60%;
  margin: 0 auto;
}

.gg-lh-90 {
  line-height: 90px;
}

.line {
  background-color: white;
  height: 4px;
  width: 100%;
  border-radius: 10px;
}

.line-star {
  font-size: 1.3rem;
}

/* DEBUG */
.debug {
  background-color: rgba(30, 143, 255, 0.2);
  border: 1px solid black;
}

.al100px {
  height: 100px;
}

.al100 {
  height: 100%;
}
/* /DEBUG */

/* HEADER */
header {
  width: 100%;
  height: 90px;
  background-color: var(--darkblue);
  position: fixed;
  z-index: 999;
}

header li {
  margin-left: 20px;
}

header a {
  color: white;
}

header .fa-solid.fa-bars {
  color: var(--grey);
}

/* MAIN */
main {
  padding-top: 90px;
}

.jumbotron-g {
  background-color: var(--green);
}

.jumbotron-g .image {
  width: 200px;
}


/* HOVER EFFECTS */
header li:hover a{
  color: var(--green);
}

