/* CUSTOM PROPERTIES */
:root {
  --darkblue: #2c3e50;
  --blue: #3a546d;
  --green: #1abc9c;
  --darkgrey: #333333;
  --grey: #7e7f82;
}

/* GENERAL PROPERTIES */
body {
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-g {
  width: 60%;
  margin: 0 auto;
}

.gg-lh-90 {
  line-height: 90px;
}

.line {
  background-color: white;
  height: 4px;
  width: 100%;
  border-radius: 10px;
}

.line-star {
  font-size: 1.3rem;
}

.color-darkgrey {
  color: var(--darkgrey);
}

.color-darkblue {
  color: var(--darkblue);
}

.bg-color-darkblue {
  background-color: var(--darkblue);
}

/* HEADER */
header {
  width: 100%;
  height: 90px;
  background-color: var(--darkblue);
  position: fixed;
  z-index: 999;
}

header li {
  margin-left: 20px;
}

header a {
  color: white;
}

header .fa-solid.fa-bars {
  color: var(--grey);
}

/* MAIN */
main {
  padding-top: 90px;
}

/* JUMBOTRON */
.jumbotron-g {
  background-color: var(--green);
}

.jumbotron-g .image {
  width: 200px;
}

/* PORTFOLIO */
.card-image {
  position: relative;
}

.card-image img {
  border-radius: 10px;
  position: relative;
}

.portfolio-plus {
  width: 100%;
  height: 100%;
  background-color: #1abc9c7a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  border-radius: 10px;
  display: none;
}

.portfolio-plus i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  color: white;
  font-size: 4rem;
}

/* ABOUT */
.about {
  background-color: var(--green);
}

/* CONTACT */
.input-custom {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
}

.input-custom::placeholder {
  color: var(--darkblue);
}

.input-custom:focus {
  box-shadow: none;
  border-bottom: 1px solid var(--darkblue);
}

.button-custom {
  background-color: var(--green);
  border: none;
}
/* /MAIN */

/* FOOTER */
.footer-top {
  background-color: var(--blue);
}

.footer-top .fa-brands{
  border: 1px solid white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin: 0 5px;
  cursor: pointer;
}

.footer-top a {
  color: var(--green);
}

.footer-bottom {
  background-color: var(--darkblue);
  font-size: 0.7rem;
}

/* HOVER EFFECTS */
header li:hover a {
  color: var(--green);
}

.card-image:hover .portfolio-plus {
  display: block;
}

.button-custom:hover {
  background-color: #1abc9ca9;
}
